  <div class="courses">
    <% @courses.each do |course| %>
      <div class="course">
      <h3><%= link_to course.name, course %></h3>

      <div class="units">
        <% course.units.each do |unit| %>
          <div class="unit">
            <h5><%= link_to unit.name, unit %></h5>
          </div>
        <% end %>
      </div>

    </div>
    <% end %>
  </div>

<%= link_to 'New Course', new_course_path %>
